[submodule "PointToPoint-web"]
	path = PointToPoint-web
	url = https://github.com/IDotan/PointToPoint-web.git
[submodule "memoryCardGame"]
	path = memoryCardGame
	url = https://github.com/IDotan/memoryCardGame.git
